<div>
    <div class="modal-content">
        {% if object %}
            <form role = "form" action="{% url 'proyeccionsocial:editar_estado_solicitud_servicio_social' object.pk %}" method="POST">
        {% else %}
            <form role = "form" action="{% url 'proyeccionsocial:crear_estado_solicitud_servicio_social' user.username %}" method="POST">
        {% endif %}
            <div class="modal-body">
                {% csrf_token %}
                    <div class="panel-body">
                        {{form.errors}}

                        {% if object %}
                            <div class="row-xx">
                                <div class="col-8 col-sm-6" style="display:none;">
                                    {{form.carnet_estudiante.label_tag}}
                                    {{form.carnet_estudiante}}
                                </div>
                            </div>
                        {% else %}
                            <div class="row-xx">
                                <div class="col-8 col-sm-6">
                                    {{form.carnet_estudiante.label_tag}}
                                    {{form.carnet_estudiante}}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row-xx">
                            <div class="col-8 col-sm-6">
                                {{form.aceptado.label_tag}}
                            </div>
                            <div  class="col-8 col-sm-6">
                                {{form.aceptado}}
                            </div>
                        </div>

                        <div class="row-xx">
                            <div class="col-8 col-sm-6">
                                {{form.motivo.label_tag}}
                            </div>
                            <div  class="col-8 col-sm-6">
                                {{form.motivo}}
                            </div>
                        </div>

                        <div class="row-xx">
                            <div class="col-8 col-sm-6">
                                {{form.observaciones.label_tag}}
                            </div>
                            <div  class="col-8 col-sm-6">
                                {{form.observaciones}}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12 text-right">
                        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Guardar">
                        <a href = "{% url 'proyeccionsocial:consulta_solicitud_servicio_social' user.username %}"><input type="button" href="{% url 'proyeccionsocial:consulta_solicitud_servicio_social' user.username %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Cancelar"></a>
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>