<div>
	<div class="modal-content">
		<form action=" {% url 'proyeccionsocial:eliminar_ciclo' object.pk %}" method="post">
			<div class="modal-body">
				{% csrf_token %}
				<div class="mdl-dialog__content" align="center">
					<h4> ¿Realmente desea eliminar este Ciclo? </h4>
				</div>
			</div>
			<div class="modal-footer">
            	<div class="col-lg-12 text-right">
            		<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Si, Eliminar">
                     <a href = "{% url 'proyeccionsocial:consulta_ciclo' %}"><input type="button" href="{% url 'proyeccionsocial:consulta_ciclo' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-buscar" name="submit" value="Cancelar"></a>
            	</div>
        	</div>
		</form>
	</div>
</div>
