{% extends 'base/base.html' %}
{%block title%}
Solicitud Servicio Social
{%endblock%}
{% block content %}

  <header>
    <div class="container">
        <h2 align="center" class="form-titulo" style ="margin-left: 5px;">Estado de Solicitudes</h2>
        </br></br>

        </br>
    </div>
  </header>

<div class="container">

    {% if request.user.usuario_administrador %}
        <!-- Boton Buscar -->
        <div align="center" class="busqueda">
            <form method="POST" action="{% url 'proyeccionsocial:consulta_estado_solicitud_servicio_social_buscar2' %}">
                {% csrf_token %} 
                <input type="text" name="carnet_estudiante"  id = "carnet_estudiante" class = "input-style" placeholder="Porfavor Ingrese su Carnet" required  pattern="([a-zA-Z]{2}[0-9]{5})"  maxlength="7">
                <input class="btn-buscar btn-busqueda" type = "submit" value = "Buscar" id = "buscarEstudiante">
            </form>
        </div>
    {% endif %}

    </br>

    <div>
        <table>
            <thead>
        	   <tr>
                    <th>Carnet</th>
                    <th>Nombre</th>
                    <th>Aceptado</th>
                    <th>Motivo</th>
                    <th>Observaciones</th>
                    <th>Editar</th>
                {% if request.user.usuario_administrador %}
                    <th>Eliminar</th>
                {% endif %}
                    <th>Imprimir</th>
                {% if request.user.usuario_administrador %}
                {% endif %}
        		</tr>
            </thead>

        {% if request.user.usuario_administrador %}
            {% if estadoSolicitudes_list %}
            {% for est in estadoSolicitudes_list %}

        		<tr class="etiqueta-tr">
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.carnet_estudiante }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.carnet_estudiante.carnet_estudiante.nombre_estudiante }} {{ est.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.aceptado }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.motivo }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ est.observaciones }}</td>
                    
                    <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "{% url 'proyeccionsocial:editar_estado_solicitud_servicio_social_consulta' est.pk %}" onclick="window.location.href='{% url 'proyeccionsocial:editar_estado_solicitud_servicio_social_consulta' est.pk %}'" class = "btn">Editar</a></td>

                {% if request.user.usuario_administrador %}
                    <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "#" onclick = "return abrir_modal('{% url 'proyeccionsocial:eliminar_estado_solicitud_servicio_social' est.pk %}', 'Eliminar registro con {{ est.carnet_estudiante }}')" class = "btn">Eliminar</a></td>
                
                    <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "{%url 'proyeccionsocial:generar_F1' est.pk %}" class = "btn">Imprimir F-1</a></td>
                {% endif %}

        		</tr>

            {% endfor %}
            {% endif %}
        {% endif %}

        {% if request.user.usuario_administrador %}
            {% if estudiante_busc %}
            {% for sol2 in estudiante_busc %}
            
                <tr class="etiqueta-tr">
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ sol2.carnet_estudiante }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ sol2.carnet_estudiante.carnet_estudiante.nombre_estudiante }} {{ sol2.carnet_estudiante.carnet_estudiante.apellido_estudiante }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ sol2.aceptado }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ sol2.motivo }}</td>
                    <td class="th-borde width-th-xx" style = "text-align:center;">{{ sol2.observaciones }}</td>
                    
                    <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "{% url 'proyeccionsocial:editar_estado_solicitud_servicio_social' sol2.pk %}" onclick="window.location.href='{% url 'proyeccionsocial:editar_estado_solicitud_servicio_social' sol2.pk %}'" class = "btn">Editar</a></td>
                    
                    <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "#" onclick = "return abrir_modal('{% url 'proyeccionsocial:eliminar_estado_solicitud_servicio_social' sol2.pk %}', 'Eliminar registro con {{ est.carnet_estudiante }}')" class = "btn">Eliminar</a></td>

                    <td class="th-borde width-th-xx" style = "text-align:center;"><a class="a-btn" href = "{%url 'proyeccionsocial:generar_F1' sol2.pk %}" class = "btn">Imprimir F-1</a></td>
                </tr>

            {% endfor %}
            {% else %}  
                {% ifequal suma " " %}
                    
                {% endifequal %}    
            {% endif %}

        {% endif %}  

    	</table>
    </div>
    
    </br>
    
    <a href = "{% url 'proyeccionsocial:consulta_estado_solicitud_servicio_social' user.username %}"><input class = "btn-buscar btn-busqueda"  type="button" href = "{% url 'proyeccionsocial:consulta_estado_solicitud_servicio_social' user.username %}" onclick = "return '{% url 'proyeccionsocial:consulta_estado_solicitud_servicio_social' user.username %}' )" value="Regresar"></a>
    </br>
    </br>

</div>

    <div id = "popup"> 
  
</div>

{% endblock %}

{% block js %}

    <script>
        var modal;
        function abrir_modal(url, titulo)
        {
            modal = $('#popup').dialog({
                title :titulo,
                modal :true,
                width :500,
                resizable :false
            }).dialog('open').load(url)
        }
    </script>

{% endblock %}